<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <main>
        <div class="sb-nav-fixed">
            <div class="mt-5 pt-5">
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Board</h1>

                    <div class="card mb-4">
                        <div class="card-header">
                            <a class="btn btn-primary float-end" href="/board/write">
                                <!-- <i class="fas fa-table me-1"></i> -->
                                <i class="fas fa-edit"></i> 글 작성
                            </a>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>조회수</th>
                                </tr>
                                </thead>

                                <th:block th:if="${boardList.isEmpty()}">
                                    <tbody>
                                        <tr style="text-align : center">
                                            <td colspan="4">게시글이 없습니다.</td>
                                        </tr>
                                    </tbody>
                                </th:block>

                                <th:block th:if="${!boardList.isEmpty()}">
                                    <tbody style="cursor:pointer">
                                        <tr class="board-tr" th:each="b : ${boardList}">
                                            <td th:text="${b.id}"></td>
                                            <td>
                                                <span th:text="${b.title}"></span>
                                            </td>
                                            <td th:text="${b.writer}"></td>
                                            <td th:text="${b.viewCnt}"></td>
                                        </tr>
                                    </tbody>
                                </th:block>

                            </table>
                        </div>
                    </div>

                    <nav style="text-align: center;">
                        <ul class="pagination justify-content-center"
                            th:with="start=${T(java.lang.Math).floor(boardList.number/10)*10 + 1},
        last=(${start + 9 < boardList.totalPages ? start + 9 : boardList.totalPages})">

                            <li class="page-item" th:class="${boardList.first} ? 'disabled'">
                                <a class="page-link" th:href="@{/board(page=1)}" aria-label="First">
                                    <span aria-hidden="true">&lt;&lt;</span>
                                </a>
                            </li>

                            <li class="page-item" th:class="${boardList.first} ? 'disabled'">
                                <a class="page-link"
                                   th:href="${boardList.first} ? '#' :@{/board(page=${boardList.number})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>

                            <li th:each="page: ${#numbers.sequence(start, last)}"
                                th:class="${page == boardList.number + 1} ? 'active page-item' : 'page-item'">
                                <a class="page-link" th:text="${page}" th:href="@{/board(page=${page})}"></a>
                            </li>

                            <li class="page-item" th:class="${boardList.last} ? 'disabled'">
                                <a class="page-link"
                                   th:href="${boardList.last} ? '#' : @{/board(page=${boardList.number + 2})}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>

                            <li class="page-item" th:class="${boardList.last} ? 'disabled'">
                                <a class="page-link" th:href="@{/board(page=${boardList.totalPages})}"
                                   aria-label="Last">
                                    <span aria-hidden="true">&gt;&gt;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(function () {
                $(".board-tr").click(function () {

                    var id = $(this).find("td:eq(0)").text();
                    const page = /*[[${boardList.getNumber+1}]]*/;
                    location.href = "/board/" + id + "?page=" + page;
                });
            });
        </script>

    </main>
</th:block>
</html>