<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

    <style>
        /* Add this CSS to style the comment cards */

        .card {
            border: 1px solid #ccc; /* Add a border to the comment card */
            margin-bottom: 20px;
            padding: 10px;
        }

        .comment-header {
            background-color: #f0f0f0; /* Gray background for the writer's name */
            padding: 10px;
        }

        .comment-content {
            background-color: #ffffff; /* White background for the comment content */
            padding: 10px;
            border: 1px solid #ccc; /* Add a border to the comment content */
        }

        .writer-box p {
            margin: 0; /* Remove default margin for writer's name */
        }

        .comment-box p {
            margin: 0; /* Remove default margin for comment content */
        }

        .button-container {
            text-align: right; /* Align buttons to the right */
            margin-top: 10px; /* Add some spacing between content and buttons */
        }

        .btn-sm {
            padding: 5px 10px; /* Adjust button padding for smaller size */
            border: none; /* Remove the border from the buttons */
        }
    </style>


    <main>
        <div class="sb-nav-fixed">
            <div class="container-fluid px-4">
                <h1 class="mt-4">Board</h1>

                <!-- 게시글 상세 정보를 표시할 카드 -->
                <div class="card mb-4">


                    <div class="card-header">

                        <a class="btn btn-primary float-end" th:href="@{/board/{url}(page=${page}, url=${b.board.getUrl()})}">
                            <i class="fas fa-edit"></i> 글 목록
                        </a>

                        <th:block th:if="${m.getEmail().equals(b.getWriterId())}">
                            <a class="btn btn-primary float-end" style="margin-right : 10px;" onclick="deleteBoard()">

                                <i class="fas fa-edit"></i> 글 삭제
                            </a>

                            <a class="btn btn-primary float-end" style="margin-right : 10px;"
                               th:href="@{/board/{url}/{id}/update(id=${b.getId}, url=${b.board.getUrl()})}">
                                <i class="fas fa-edit"></i> 글 수정
                            </a>

                        </th:block>


                    </div>

                    <div class="card-body">
                        <h2 th:text="${b.title}"></h2>
                        <p>작성자: <span th:text="${b.writer}"></span></p>
                        <p>조회수: <span th:text="${b.viewCnt}"></span></p>
                        <p>내용: <span th:text="${b.content}"></span></p>
                        <p>작성일: <span th:text="${#temporals.format(b.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></span></p>
                        <th:block th:if="${b.modifiedAt != b.createdAt}">
                            <p>수정일: <span th:text="${#temporals.format(b.modifiedAt, 'yyyy/MM/dd HH:mm:ss')}"></span></p>
                        </th:block>
                    </div>
                </div>

                <!-- 댓글 표시 -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h3>댓글</h3>
                    </div>
                    <div class="card-body">
                        <!-- 댓글 리스트를 표시하는 부분 -->
                        <div class="card-body">
                            <!-- 댓글 리스트를 표시하는 부분 -->
                            <div id="comment-container">

                                <th:block th:if="${commentList.size == 0}">
                                    <div class="no-comment">댓글이 존재하지 않습니다.</div>
                                </th:block>

                                <th:block th:if="${commentList.size != 0}" th:each="c : ${commentList}">
                                    <div class="card mb-4">
                                        <div class="comment-header">
                                            <!-- Display writer's name in a gray box -->
                                            <div class="writer-box">
                                                <p><span th:text="${c.writer}"></span>
                                                    <i class="fas fa-user"></i>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="comment-content" th:id="'comment-' + ${c.id}">
                                            <!-- Display comment content in a white box with a smaller border -->
                                            <div class="comment-box">
                                                <!-- Display the original comment content -->
                                                <span th:text="${c.content}" class="comment-text"></span>
                                                <!-- Edit mode textarea (initially hidden) -->
                                                <textarea class="form-control comment-textarea"
                                                          style="display: none;"></textarea>
                                            </div>
                                        </div>
                                        <!-- 수정, 삭제는 댓글 작성한 사람만 가능하다 -->
                                        <th:block th:if="${m.getEmail().equals(c.writerId)}">
                                            <div class="button-container" th:id="'comment-' + ${c.id}">
                                                <!-- 수정 버튼 -->
                                                <a class="btn btn-sm btn-primary float-right edit-comment-btn"
                                                   th:data-comment-id="${c.id}"
                                                   th:onclick="'editComment(' + ${c.id} + ')'">
                                                    <i class="fas fa-edit"></i> 수정
                                                </a>
                                                <!-- 삭제 버튼 -->
                                                <a class="btn btn-sm btn-primary float-right delete-comment-btn"
                                                   th:data-comment-id="${c.id}"
                                                   th:onclick="'deleteComment(' + ${c.id} + ')'">

                                                    <i class="fas fa-trash"></i> 삭제
                                                </a>

                                                <!-- 저장 버튼 -->
                                                <a class="btn btn-sm btn-primary float-right save-comment-btn"
                                                   th:data-comment-id="${c.id}"
                                                   th:onclick="'saveComment(' + ${c.id} + ')'"
                                                   style="display: none;">
                                                    <i class="fas fa-floppy-disk"></i> 저장
                                                </a>

                                                <!-- 취소 버튼 -->
                                                <a class="btn btn-sm btn-primary float-right cancel-edit-btn"
                                                   th:data-comment-id="${c.id}"
                                                   th:onclick="'cancelEdit(' + ${c.id} + ')'"
                                                   style="display: none;">
                                                    <i class="fas fa-trash"></i> 취소
                                                </a>


                                            </div>
                                        </th:block>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>

                    <!-- 댓글 작성 폼 -->
                    <form id="commentForm" method="post" onsubmit="submitComment(event)">
                        <div class="form-group">
                                <textarea class="form-control form-insert-comment" name="content"
                                          placeholder="댓글을 입력하세요."
                                          required></textarea>
                            <input type="hidden" name="writer" th:value="${m.getName()}">
                            <input type="hidden" name="writerId" th:value="${m.getEmail()}">
                        </div>
                        <button type="submit" style="margin-top : 10px;" class="btn btn-primary">댓글 작성</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script th:inline="javascript">
        /*<![CDATA[*/
        function deleteBoard() {
            if (confirm("정말 삭제하시겠습니까?")) {
                const id = /*[[${b.id}]]*/;
                const url = /*[[${b.board.getUrl()}]]*/;

                fetch('/board/' + url + "/" +  id + '/delete', {
                    method: 'DELETE'
                })
                    .then(response => {
                        if (response.ok) {
                            alert("삭제 완료");
                            location.href = "/board/" + url;
                        } else {
                            console.error("삭제 실패");
                        }
                    })
                    .catch(error => {
                        console.error("요청 오류:", error);
                    });
            }
        }

        function submitComment(event) {
            event.preventDefault(); // Prevent the default form submission

            const formData = new FormData(document.getElementById('commentForm'));
            let boardId = /*[[${b.id}]]*/;

            $('#commentForm').find('textarea').val('');

            fetch(`/board/${boardId}/comment`, {

                method: 'POST',
                body: formData,
            })
                .then(response => response.json())
                .then(data => {

                    $('.no-comment').remove();

                    // Get the last comment in the data array
                    const lastComment = data[data.length - 1];
                    const memberEmail = /*[[${m.getEmail()}]]*/;

                    const commentCard = $('<div>').addClass('card mb-4');

                    // Create a comment header
                    const commentHeader = $('<div>').addClass('comment-header');

                    // Display writer's name in a gray box
                    const writerBox = $('<div>').addClass('writer-box');
                    writerBox.html('<p><span>' + lastComment.post.writer + ' ' + '</span><i class="fas fa-user"></i></p>');

                    commentHeader.append(writerBox);

                    // Create a comment content section
                    const commentContent = $('<div>').addClass('comment-content');
                    commentContent.attr('id', `comment-${lastComment.id}`);

                    // Create a comment box
                    const commentBox = $('<div>').addClass('comment-box');

                    // Display the original comment content
                    const commentText = $('<span>').addClass('comment-text');
                    commentText.text(lastComment.content);

                    // Create an edit mode textarea (initially hidden)
                    const commentTextarea = $('<textarea>').addClass('form-control comment-textarea');
                    commentTextarea.css('display', 'none');

                    commentBox.append(commentText);
                    commentBox.append(commentTextarea);

                    commentContent.append(commentBox);

                    const buttonContainer = $('<div>').addClass('button-container');
                    buttonContainer.attr('id', `comment-${lastComment.id}`);

                    if (memberEmail === lastComment.writerId) {
                        const updateButton = $('<a>').addClass('btn btn-sm btn-primary float-right edit-comment-btn');
                        updateButton.attr('th:data-comment-id', lastComment.id);
                        updateButton.html('<i class="fas fa-edit"></i> 수정');

                        const deleteButton = $('<a>').addClass('btn btn-sm btn-primary float-right delete-comment-btn');

                        deleteButton.click(function () {
                            deleteComment(lastComment.id);
                        });

                        deleteButton.css('margin-left', '5.5px');
                        deleteButton.html('<i class="fas fa-trash"></i> 삭제');

                        // Create an update button


                        // Append delete and update buttons to button container

                        buttonContainer.append(updateButton);
                        buttonContainer.append(deleteButton);
                    }

                    // Append comment header, comment content, and button container to comment card
                    commentCard.append(commentHeader);
                    commentCard.append(commentContent);
                    commentCard.append(buttonContainer);

                    // Get the comment container and append the comment card
                    const commentContainer = $('#comment-container');


                    commentContainer.append(commentCard);
                });
        }


        function editComment(commentId) {
            const commentText = $(`#comment-${commentId} .comment-text`);
            const commentTextarea = $(`#comment-${commentId} .comment-textarea`);
            const saveButton = $(`#comment-${commentId} .save-comment-btn`);
            const cancelButton = $(`#comment-${commentId} .cancel-edit-btn`);
            const editButton = $(`#comment-${commentId} .edit-comment-btn`);
            const deleteButton = $(`#comment-${commentId} .delete-comment-btn`);

            commentText.hide();
            commentTextarea.show();
            commentTextarea.val(commentText.text());

            saveButton.show();
            cancelButton.show();

            editButton.hide();
            deleteButton.hide();


        }

        function saveComment(commentId) {
            const commentText = $(`#comment-${commentId} .comment-text`);
            const commentTextarea = $(`#comment-${commentId} .comment-textarea`);
            const saveButton = $(`#comment-${commentId} .save-comment-btn`);
            const cancelButton = $(`#comment-${commentId} .cancel-edit-btn`);
            const editButton = $(`#comment-${commentId} .edit-comment-btn`);
            const deleteButton = $(`#comment-${commentId} .delete-comment-btn`);
            const b = /*[[${b.id}]]*/;
            const url = /*[[${b.board.getUrl()}]]*/;

            const formData = new FormData();
            formData.append('content', commentTextarea.val());

            fetch(`/board/${url}/${b}/comment/${commentId}/update`, {
                method: 'POST',
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    commentText.text(data.content);
                    commentText.show();
                    commentTextarea.hide();

                    saveButton.hide();
                    cancelButton.hide();

                    editButton.show();
                    deleteButton.show();
                })
        }

        function cancelEdit(commentId) {
            const commentText = $(`#comment-${commentId} .comment-text`);
            const commentTextarea = $(`#comment-${commentId} .comment-textarea`);
            const saveButton = $(`#comment-${commentId} .save-comment-btn`);
            const cancelButton = $(`#comment-${commentId} .cancel-edit-btn`);
            const editButton = $(`#comment-${commentId} .edit-comment-btn`);
            const deleteButton = $(`#comment-${commentId} .delete-comment-btn`);

            commentText.show();
            commentTextarea.hide();

            saveButton.hide();
            cancelButton.hide();

            editButton.show();
            deleteButton.show();
        }

        function deleteComment(commentId) {
            if (confirm("정말 삭제하시겠습니까?")) {
                const boardId = /*[[${b.id}]]*/;

                fetch(`/board/${boardId}/comment/${commentId}/delete`, {
                    method: 'DELETE'
                })
                    .then(response => {
                        if (response.ok) {
                            alert("삭제 완료");
                            location.reload();
                        } else {
                            console.error("삭제 실패");
                        }
                    })
                    .catch(error => {
                        console.error("요청 오류:", error);
                    });
            }
        }

        $(function () {
            //댓글 리스트 실시간 업데이트

        });

    </script>


</th:block>
</html>